.header{
    margin-top: 40px;
}
.features-section{
    margin-top: 300px;
}
.cards-section{
    margin-top: 250px;
}
.tabla-section{
    margin-top: 200px;
}
.carousel-section{
    margin-top: 200px;
}
.circulo-section{
    margin-top: 200px;
}
.grid-cards-section{
    margin-top: 250px;
}
.verde-section{
    margin-top: 200px;
}
.imagen-carrusel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 15vw;
    z-index: 2;
}
.boton-actions{
    font-family: sans-serif;
    color: white;
    background-color: #025157;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
}
.boton-actions:hover{
    background-color: #6abf4b;
}
.seccion-get{
    background-color: #025157;
}
.titlo-sitio{
    font-family: vesterbroextrabold;
    color: #025157;
    font-weight: 800;
    font-size: 70px;
    line-height: 63px;
}
.titulo-secundario{
    font-family: vesterbroextrabold;
    font-size: 55px;
    color: #025157;
    font-weight: 700;
    text-align: center;
}
.titulo-terciario{
    font-family: vesterbroextrabold;
    font-size: 35px;
    color: #025157;
    font-weight: 700;
    text-align: center;
}
.texto-secundario{
    font-family: Arial;
    color: #46484c;
    font-size: 20px;
    font-size: 400;
    text-align: left;
    line-height: 32px;
    margin-top: 20px;
}
.texto-terciario{
    font-family: Arial;
    color: #46484c;
    font-size: 17px;
    text-align: left;
    line-height: 32px;
    margin-top: 20px;
    line-height: 1.5;
}
.titulo-footer{
    font-family: vesterbroextrabold;
    font-weight: 400;
    line-height: 46px;
    font-size: 34px;
    letter-spacing: -2px;
}
.enlaces-final{
    font-style: normal;
    font-weight: 400;
    line-height: 2.5;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial;
    color: #4a4a4a;
    list-style: none;
}


@media (max-width: 576px) {
    .titulos-tabla{
        font-size: 22px;
        text-align: center;
    }
    .titlo-sitio{
        font-size: 45px;
        line-height: normal;
        text-align: center;
    }
    .titulo-secundario{
        font-size: 30px;
    }
    .titulo-terciario{
        font-size: 25px;
    }
}
@media only screen and (min-width: 576px) {
    .titulos-tabla{
        font-size: 22px;
        text-align: center;
    }
    .titulo-secundario{
        
    }
    .titulo-terciario{
        font-size: 30px;
    }
}
@media (min-width: 768px) {
    .titulos-tabla{
        font-size: 22px;
        text-align: left;
    }
}
@media (min-width: 992px) {
    .titulos-tabla{
        font-size: 26px
    }
}
